/* ============================================================
PRIMARY STRUCTURE
============================================================ */
.container {
    max-width: 960px;
    margin: 0 auto;
}

/* ============================================================
SECTIONS FOR PARALLAXING
============================================================ */
section.module:last-child {
    margin-bottom: 0;
}
section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
}
section.module p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
}
section.module p:last-child {
    margin-bottom: 0;
}
section.module.content {
    padding: 40px 0;
}
section.module.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 30px 30px 90px rgba(0, 0, 0, 1);
}
section.module.parallax-1 {
    background-image: url("/img/bcg_atv.jpg");
}
section.module.parallax-2 {
    background-image: url("/img/bcg_dirtbikes.jpg");
}
section.module.parallax-3 {
    background-image: url("/img/bcg_kidatv1.jpg");
}

@media all and (min-width: 600px) {
    section.module h2 {
          font-size: 42px;
    }
    section.module p {
          font-size: 20px;
    }
    section.module.parallax h1 {
          font-size: 96px;
    }
}
@media all and (min-width: 960px) {
    section.module.parallax h1 {
      font-size: 160px;
    }
}


/* ============================================================
NAVBAR CSS
============================================================ */
.navbar-default {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.42) 0,rgba(0, 0, 0, 0.31) 100%);
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    text-decoration: underline; 
    font-size: large;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    text-decoration: underline;
    font-size: xx-large;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 15px;
}

.dropdown-menu>li>a {
    color: rgba(255, 255, 255, 0.83);
    text-decoration: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-image: none;
    background-color: black;
    color: rgba(255, 255, 255, 0.83);
    text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FFF;
    background-color: #000000;
}

/* ============================================================
BASIC CSS
============================================================ */
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("/img/dirt.jpg");
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

section.module.parallax-1 {
    margin-top: -20px;
}

section.module.content {
    padding: 40px 0;
    background-image: url('/img/dirt.jpg');
    color: white;
}

.emphasize {
    font-size: 135%;
}

/* ============================================================
ABOUT CSS
============================================================ */
.container_about {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.66);
    color: black;
    border-radius: 30px;
    margin-bottom: 5%;
}

.about {
    background-color:none;
}

dt {
    font-size: larger;
    font-style:italic;
}

dd {
    margin-left: 2%;
    margin-bottom: 2%;
}

.about_links {
    color: rgb(30, 57, 166);
}

/* ============================================================
HOME CSS
============================================================ */

.p_home {
    background-color: rgba(0, 0, 0, 0.43);
    padding: inherit;
}

.container_home {
    margin-top: -2%;
}

.small {
    font-size: 70%;
}

.home {
    position: fixed;
    width: 100%;
}

/* ============================================================
CONTACT CSS
============================================================ */

.form-control {
    color: #000;
    border: 2px solid #115617;
}

label {
    font-size: medium;
    padding: .5%;
}

.btn-success {
    margin-bottom: 5%;
}
